.jumbotron {
	background-color: SlateBlue;
	border-bottom: 15px solid #4aaaa5;
}

#animal-input {
	background-color: LightGray;
}

#addAnimal {
	background-color: #4aaaa5;
	border: 2px solid LightGray;
}

body {
	background-image: url('../images/stardust.JPG');
	color: white;
}


img {
  cursor: pointer;
  height: 200px;
  width: 250px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 35px;
  float:left;
  top: 30px;
 
}

p {
  font-size: 18px;
  float: left;
  position: static;
  padding: 20px;
 

 }

button {
	background-color: SlateBlue;
	padding: 10px;
	width: 100px;
	height:50px;
	margin: 10px;
	text-align: center;
	color: white;
	border: 2px solid #4aaaa5;
	border-radius: 35px;
}

button:hover {
	background: #4aaaa5;
	border-radius: 35px;
}


footer {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	height: 65px;
	width: 100%;
	margin-top: 30px;
	clear: both;
 	background: SlateBlue;	
 	bottom: 0;
 	border-top: thick solid #4aaaa5;
 	border-width: 100%;

}

footer h6 {
	text-align: center;
	color: white;
 	font-size: 12px;
 	bottom: 0;
 	padding-top: 30px;
}